<div class="creatures-container">
  <span><%= image_tag "ferris.png", class: "small-creature", size: "60x60" %></span>
  <a href="https://www.youtube.com/watch?v=O7oD_oX-Gio" target="_blank">
    <%= image_tag "tiny-ruby.png", class: "small-creature", size: "80x54" %>
  </a>
  <span><%= image_tag "ferris.png", class: "small-creature", size: "60x60" %></span>
  <span><%= image_tag "tiny-ruby.png", class: "small-creature", size: "80x54" %></span>
  <span><%= image_tag "ferris.png", class: "small-creature", size: "60x60" %></span>
  <span><%= image_tag "tiny-ruby.png", class: "small-creature", size: "80x54" %></span>

  <a href="https://www.youtube.com/watch?v=pZ7hMcePFkw" target="_blank">
    <%= image_tag "ferris.png", class: "small-creature", size: "60x60" %>
  </a>

  <span><%= image_tag "tiny-ruby.png", class: "small-creature", size: "80x54" %></span>
  <span><%= image_tag "ferris.png", class: "small-creature", size: "60x60" %></span>

</div>
