<%= form_tag do %>
  <p>HTML</p>
  <p>
    <%= text_area_tag :html, @html, class: "inline" %>
  </p>
  <p>CSS</p>
  <p>
    <%= text_area_tag :css, @css, class: "inline" %>
  </p>

  <%= button_tag "Inline", name: "mode", value: "inline" %>
<% end %>

<%- if @inlined -%>
<hr>
<pre class="language-html"><code class="language-html"><%= @inlined -%></code></pre>
<%- end -%>
