<!DOCTYPE html>
<html>
  <head>
    <title>Helix: Native Ruby Extensions Without Fear</title>
    <%= csrf_meta_tags %>

    <link href="//fonts.googleapis.com/css?family=Fira+Sans:400,700|Roboto:400,700|Source+Serif+Pro:400,700&amp;subset=latin-ext" rel="stylesheet">    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="controller-<%= controller_name %> action-<%= action_name %>">
    <main class="max-width-4 mx-auto">

      <%= render partial: 'shared/header' %>
      <%= yield %>
      <%= render partial: 'shared/footer' %>

    </main>
  </body>
</html>
